.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
    margin: 10px 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.list {
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: "KoHo", sans-serif;
}

.form_accout {
    color: #3a85de;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    font-size: 23px;
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.form {
    width: 40%;
    background: #0d0946;
    border-radius: 30px;
    padding: 75px;
}

.form_title {
    text-align: start;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 35px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

.form_subtitle {
    text-align: center;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 65px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

.form_security {
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "KoHo", sans-serif;
}

/* input {
    font-size: 23px;
    font-family: "KoHo", sans-serif;
}

input::placeholder {
    font-size: 23px;
    font-family: "KoHo", sans-serif;
} */

.required_symbol::before {
    content: "*";
    color: red;
    font-size: 20px;
    position: relative;
    top: -7px;
    margin-left: 9px;
}

.img {
    width: 20px;
    height: 20px;
    margin-left: -19px;
    cursor: pointer;
    color: #fa0b8c;
}

/* button {
    font-family: "KoHo", sans-serif;
    line-height: 32px;
    background: #5a0272;
    border-radius: 15px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    transition-duration: 1s;
} */

.custom_button_submit:hover {
    background-color: #a439c2;
}

.mensage_error{
    color: red;
    margin-top: -8px;
    margin-bottom: 30px;
}

/* input[type="password"]::-ms-reveal {
    display: none;
  } */

  
