.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content {
    margin: 10px 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.list {
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: "KoHo", sans-serif;
}

.form_accout {
    color: #3a85de;
    display: grid;
    place-items: center;
    margin-top: 3rem;
    font-size: 23px;
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

.form {
    width: 100%;
    background: #0d0946;
    border-radius: 30px;
    padding: 2rem 3rem 2rem 3rem;
    max-width: 500px;
}

.form_title {
    text-align: start;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

.form_subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 35px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

.form_security {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 1rem;
    font-family: "KoHo", sans-serif;
}

.required_symbol::before {
    content: "*";
    color: red;
    font-size: 20px;
    position: relative;
    top: -7px;
    margin-left: 9px;
}

.img {
    width: 20px;
    height: 20px;
    margin-left: -19px;
    cursor: pointer;
    color: #fa0b8c;
}

button {
    font-family: "KoHo", sans-serif;
    line-height: 32px;
    background: #5a0272;
    border-radius: 15px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    transition-duration: 1s;
}

.custom_button_submit:hover {
    background-color: #a439c2;
}

.mensage_error {
    color: red;
    margin-top: -8px;
    margin-bottom: 30px;
}

input[type="password"]::-ms-reveal {
    display: none;
}

.rename_input {
    font-size: 20px;
    font-family: "KoHo", sans-serif;
    width: 100%;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #fa0b8c;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}

.rename_label {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

@media screen and (max-width: 700px) {
    .form {
        width: 85%;
        padding: 1.8rem;
    }

    .form_title {
        font-size: 22px;
    }

    .form_subtitle {
        font-size: 20px;
    }

    .form_security {
        font-size: 20px;
    }

    .forgot_password {
        font-size: 12px;
    }

    .rename_label {
        font-size: 20px;
    }

    .list {
        font-size: 16px;
    }

    .rename_input {
        font-size: 16px;
    }

    .rename_input::placeholder {
        font-size: 16px;
    }

    button {
        width: 130px;
        font-size: 14px;
    }

    .form_accout {
        margin-top: 2rem;
        font-size: 20px;
    }

    .img {
        margin-top: -30px;
        width: 20px;
    }
    
    .form_question,
    .form_start {
        font-size: 14px;
    }
}