.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    width: 35%;
    /* padding: 20px; */
    background: #0d0946;
    border-radius: 30px;
    padding: 75px;
}

.content {
     margin: 0; 
    margin-bottom: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    font-family: "KoHo", sans-serif;
    font-size: 20px;
    color: #3A85DE;
    cursor: pointer;
}

input {
    font-size: 1.1rem;
    font-family: "KoHo", sans-serif;
    width: 100%;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #FA0B8C;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}

input::placeholder { 
    font-size: 23px;
    font-family: "KoHo", sans-serif;
}

.form_title {
    text-align: start;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 35px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
    text-align: center;
}

button {
    font-family: "KoHo", sans-serif;
    line-height: 32px;
    background: #5a0272;
    border-radius: 15px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    width: 104px;
    height: 44px;
}

.custom_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    margin-inline: 7rem;
}

.form_question {
    color: white;
    font-family: "KoHo", sans-serif;
    font-size: 26px;
}

.form_start {
    color: #3A85DE;
    font-size: 26px;
    font-family: "KoHo", sans-serif;
    cursor: pointer;
}


.img {
    margin-top: -24px;
    width: 25px;
    height: 20.86px;
    display: flex;
    float: right;
}

.required_symbol::before {
    content: "*";
    color: red;
    font-size: 20px;
    position: relative;
    top: -7px;
    margin-left: 9px;
}
