.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    width: 40%;
    padding: 20px;
    background: #0d0946;
    border-radius: 30px;
    padding: 75px;
}

.content {
    margin: 10px 0;
    margin-bottom: 3rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

input {
    font-size: 1.2rem;
    width: 100%;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #FA0B8C;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}

.form_title {
    text-align: start;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 35px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

.form_subtitle {
    text-align: center;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "KoHo", sans-serif;
}

button {
    font-family: "KoHo", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    background: #5a0272;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 150px;
}

.form_accout {
    color: #3A85DE;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    font-size: 23px;
    font-family: 'KoHo';
    font-weight: 700;
    cursor: pointer;
}

.img {
    margin-top: -69px;
    width: 25px;
    display: flex;
    float: right;
}

.required_symbol::before {
    content: "*";
    color: red;
    font-size: 20px;
    position: relative;
    top: -7px;
    margin-left: 9px;
  }
